<div class="page-header">
  <div class="btn-group pull-right">
    <%= link_to 'Back', campaigns_path, class: 'btn' %>
  </div><!--// .btn-group pull-right -->
  <h1>New campaign</h1>
</div><!--// .page-header -->

<%= render 'form' %>


